/node_modules
.DS_Store
ecosystem.config.js


package-lock.json
.DS_Store
**/.DS_Store


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*